body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--header-color);
}

header h1 {
    text-align: start;
}

header h2 {
    margin-left: auto;
    margin-right: 10px;
}

main {
    width: 100%;
    height: 75vh;
}

footer {
    width: 100%;
    height: 80px;
    background-color: var(--footer-color);
}

/* :root {
    --bg-color: #ffffff;
    --header-color: #ffffffa6;
    --footer-color: #ffffffa6;
    --text-color: #000000;

    --bg-color2: #000000;
    --header-color2: #333;
    --footer-color2: #333;
    --text-color2: #ffffff;

    --bg-color3: #cd08df;
    --header-color3: #333;
    --footer-color3: #007bff;
    --text-color3: #1cb624;
}

body[data-theme="dark"] {
    --bg-color: var(--bg-color2);
    --header-color: var(--header-color2);
    --footer-color: var(--footer-color2);
    --text-color: var(--text-color2);
}

body[data-theme="hawaii"] {
    --bg-color: var(--bg-color3);
    --header-color: var(--header-color3);
    --footer-color: var(--footer-color3);
    --text-color: var(--text-color3);
} */

:root {
    --bg-color: #ffffff;
    --header-color: #ffffffa6;
    --footer-color: #ffffffa6;
    --text-color: #000000;

    --bg-color2: #000000;
    --header-color2: #333;
    --footer-color2: #333;
    --text-color2: #ffffff;

    --bg-color3: #cd08df;
    --header-color3: #333;
    --footer-color3: #007bff;
    --text-color3: #1cb624;
}

[data-theme="dark"] {
    --bg-color: var(--bg-color2);
    --header-color: var(--header-color2);
    --footer-color: var(--footer-color2);
    --text-color: var(--text-color2);
}

[data-theme="hawaii"] {
    --bg-color: var(--bg-color3);
    --header-color: var(--header-color3);
    --footer-color: var(--footer-color3);
    --text-color: var(--text-color3);
}
