* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(57, 140, 212);
    /* font-family: "EB Garamond", serif; */
    font-family: "Raleway", serif;
}

.container-opgaver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    min-width: 600px;
    align-items: center;
    margin-top: 50px;
    background-color: aliceblue;
    margin: 50px auto;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-right: 20px;
    padding-left: 20px;
}

.container-opgaver h1 {
    margin-bottom: 20px;
    margin-top: 20px;
}


.container-opgaver h4 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.opgaver {
    background-color: aliceblue;
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    position: relative;
    padding-bottom: 20px;
}

.submit {
    width: 200px;
    height: 30px;
    font-size: 1.1rem;
    margin-top: 30px;
    margin-bottom: 40px;
}

#input-overskrift, #input-text, #input-number{
    width: 200px;
    height: 30px;
}

#template-output {
    padding-top: 20px;
    padding: 20px 40px 0px 40px;
    margin-bottom: 40px;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    max-width: 800px;
    width: auto;
    border-radius: 0.5rem;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

[data-field="over"] {
    width: fit-content;
    padding: 10px;
    margin-left: 5px;
    border-radius: 0.5rem;
    font-weight: bolder;
}

[data-field="besk"] {
    padding: 10px;
    margin-left: 5px;
    border-radius: 0.5rem;
}

[data-field="skrald"] {
    padding: 8.5px;
    margin-left: 5px;
    border: solid 1px black;
    cursor: pointer;
    border-radius: 0.5rem;
    
}

[data-field="stjerne"] {
    padding: 8.5px;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: larger;
}

[data-field="done"] {
    padding: 8.5px;
    border: solid 1px black;
    border-radius: 0.5rem;
    margin-left: 5px;
    cursor: pointer;
    margin-left: auto;
}

[data-field="antal"] {
    padding: 10px;
    border-radius: 0.5rem;
    margin-left: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 300px;
    margin: 0 auto 40px;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


#done-opgaver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    min-width: 600px;
    align-items: center;
    margin-top: 50px;
    background-color: aliceblue;
    margin: 50px auto;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-right: 20px;
    padding-left: 20px;
}

.effekt-boks {
    padding-top: 20px;
    padding: 20px 40px 0px 40px;
    margin-bottom: 40px;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

#done-opgaver h1{
    margin-bottom: 20px;
    margin-top: 20px;
}

.done-task h3,
.done-task p {
   padding-top: 20px;
    padding: 20px 40px 0px 40px;
    margin-bottom: 40px;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.container-knap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container-knap #add-knap {
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: "Raleway", serif;
    background-color: white;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.container-knap #add-knap:hover {
    transform: scale(1.1);
}

.none {
    display: none;
}

[data-field="task"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    border-radius: 0.5rem;
    padding: 5px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: white;
    margin-left: auto;
}